body {
    margin: 0;
    height: 100%;
    box-sizing: border-box;
}

.parallax {
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.caption {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: black;
    font-size: 2em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    width: 80%;
}

.black-block {
    background-color: black;
    padding: 64px;
    height: 200px;
    width: 100%;
    color: white;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}

#img1 {
    background-image: url("https://i.pinimg.com/736x/31/7a/1a/317a1ae08c21c4bf323c74734a14e008.jpg");
}

#img2 {
    background-image: url("https://i.pinimg.com/736x/ac/40/5e/ac405ee203ed1fdbef811baf2f6ac25c.jpg");
}
